/* NFTListing.css */

.nft-listing {
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nft-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.nft-card {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
}

.nft-card img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
}

.heading {
  padding-top: 20px;
  padding-bottom: 20px;
}

.token-number {
  width: fit-content;
  padding: 20px;
  font-size: 20px;
}

.buying-price {
  padding: 20px;
}

.nft-single {
  cursor: pointer;
  height: 20px;
}

.backBtn {
  margin-top: 20px;
}